.totalItems {
  font-size: 0.9em;
  color: #545454;
  font-weight: bold;
  padding: 5px;
}

.cartColor {
  color: #4f88a1;
}

.modalTitulo-custom {
  font-size: 1.4rem;
  font-weight: bold;
  color: #4f88a1;
  padding-left: 10px;
}

.modalItems-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #4f88a1;
}

.modalDatos-custom {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.modalItem-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
}

.modalDescrip-custom {
  font-size: 0.8rem;
  width: 50%;
}

.modalCantidad-custom {
  font-size: 0.8rem;
}

.modalPrecio-custom {
  font-size: 0.8rem;
  font-weight: bold;
}

.modalTotal-custom {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
}

.imgProdModal-custom {
  width: 50px;
  height: 50px;
}

.imgTrashodal-custom {
  width: 30px;
  height: 30px;
}

.column {
  float: left;
  width: 60%;
}

.column1 {
  float: left;
  width: 25%;
  font-weight: bold;
  font-size: 0.8rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 20px;
}

.campoNoValido-custom
{
  font-size: 0.8rem;
  color: red;
  padding-left: 8rem;
}

.buttons-custom
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-custom
{
  margin-right: 1rem;
}