.card-custom
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 23rem;
  margin: 10px 0 0 1%;
}

.imgProducto-custom
{
  width: 100px;
  height: 120px;
  padding-top: 20px;
}

.titulo-custom
{
  font-weight: bold;
  color:#1c4556;
  font-size:1rem;
}

.descripcion-custom
{
  font-size:0.9rem;
}

.precio-custom
{
  font-size:1.6rem;
  color:#000;
}

.stock-custom
{
  font-size:0.8rem;
  font-weight: bold;
}

.botonVerDetalle-custom {
  text-decoration: none;
  background-color: #258ab6;
  color: white;
  padding: .5rem;
  width: max-content;
  border-radius: .5rem;
  transition: .2s;
}

.botonVerDetalle-custom_hover {
  background-color: black;
  color: white;
}