
.tituloDetalle-custom
{
  font-size: 2rem;
}

.descripcionDetalle-custom{
  font-size: 1rem;
}

.categoriaDetalle-custom{
  font-size: 0.8rem;
  font-weight: bold;
}

.precioDetalle-custom{
  font-size: 1.3rem;
  font-weight: bold;
}

.precioTotal-custom{
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: #4f88a1;
}

.imgDetalle-custom
{
  width: 200px;
  height: 200px;
}

.prodNoExiste-custom
{
  text-align: center;
  font-weight: bold;
  color: #4f88a1;
  font-size: 1.2rem;
}
.imgProdNoExiste-custom
{
  width: 150px;
}