
.tituloDetalle-custom
{
  font-size: 2rem;
}

.descripcionDetalle-custom{
  font-size: 1rem;
}

.categoriaDetalle-custom{
  font-size: 0.9rem;
}

.precioDetalle-custom{
  font-size: 1.3rem;
  font-weight: bold;
}

