.listadoProd-custom
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#205b74;
  flex-wrap: wrap;
  position: relative;

}

.tituloCategoria-custom
{
  font-size: 1rem;
  font-weight: bold;
  padding-left: 10px;
}